.loaderContainer {
  display: flex;
}

.loader {
  padding-block: 7.375rem;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
